body {
    margin: 0 auto;
}

a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

.header {
    height: 60px;
}

.footer{
    margin-top: 60px;
}

.text-center {
    text-align: center;
}


.container {
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        width: 100%;
    }
}


.experiences,
.internships {
    margin-top: 50px;
}